---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { projects } from '../data/projects.js';
import "../styles/global.css";

---

<head>
    <meta charset="utf-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
    <title>Projects</title>
</head>

<body>
    <Header />
    <div class="container">
        <h1>Projects</h1>
        <p class="subtitle"></p>
    <div class="filter-section">
        <div class="filter-label">Filter by Category <span id="projectCount" class="count-badge">{projects.length} Projects</span></div>
        <div class="filter-buttons">
            <button class="filter-btn active" data-filter="all">All Projects</button>
            <button class="filter-btn" data-filter="social">Social Vision & Strategy</button>
            <button class="filter-btn" data-filter="systems">Systems & Technology</button>
            <button class="filter-btn" data-filter="wellness">Sports & Wellness</button>
        </div>
    </div>
    </div>

    <div class="container-project">
        <div class="projects-grid" id="projectsGrid">
            {projects.map((project, index) => (
                <a href={`/projects/${project.slug}`}
                   class="project-card"
                   data-tags={project.tags.join(' ')}
                >
                    <div 
                        style={`animation-delay: ${index * 0.1}s`}
                        data-tags={project.tags.join(' ')}
                    >
                        
                        <img class = "project-image" src={project.image} alt={project.title} style={`view-transition-name: ${project.slug}`}/>
                        <div class="project-type">{project.type}</div>
                        <h2 class="project-title">{project.title}</h2>
                        <div class="project-tags">
                            {project.tags_display.map(tag => (
                                <span class="tag">{tag}</span>
                            ))}
                        </div>
                       
                    </div>
                </a>
            ))}
           
           <!-- removed description & year from cards 
                <p class="project-description">{project.description}</p> 
                <div class="project-year">{project.year}</div>
            -->
        </div>
    </div>
<Footer />
<script>
  import { initProjectFilters } from '../scripts/filter.js';
  initProjectFilters();
</script>
</body>