---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
const { frontmatter } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <Header />
    <div class = "two-column">
      <div class="column-img">
				<img src= {frontmatter.image.url} alt="Project Photo"/>
			</div>
			<div class="column-text">
					<h1>{frontmatter.title}</h1>
          <p>{frontmatter.tagline}</p>
			</div>
    </div>
    <div class = "container-text">
    <slot />
    </div>
    
    <Footer />
  </body>
</html>